In [1]:
import pandas as pd
import numpy as np

In [10]:
titanic = pd.read_csv(r'C:\Users\SOURAV\Desktop\Machine Learning\titanic_train.csv')

In [11]:
print(type(titanic))

<class 'pandas.core.frame.DataFrame'>

In [12]:
df=titanic.copy()

In [15]:
df.shape

(891, 12)

In [17]:
def f(s) :
    if s == 'male' :
        return 1 
    else :
        return 0
    
df["gender"]=df.Sex.apply(f)

In [23]:
del df["Sex"]

In [37]:
# df.Age.fillna(df.Age.max(),inplace=True)
df=titanic.copy()
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64