In [1]:
a = 10

In [2]:
a

10

hare krishna starting with ml course

## Text over here

# <font color = "green"> Text over here</font>

# ## NUMPY tutorial

In [7]:
import numpy as np

In [11]:
#making a numpy array from python list
a = [2,4,6,8,10]
arr = np.array(a)

In [13]:
arr

array([ 2,  4,  6,  8, 10])

In [16]:
type(a)

type(arr)

numpy.ndarray

In [18]:
#in numpy array we can apply mathematical operations 
# a+1 this gives error as it is array
arr+1 # this will add 1 to each and every element

array([ 3,  5,  7,  9, 11])

In [19]:
# 2 d array using list
b = [[1,2,3,4],
    [4,5,6,7]]

In [22]:
twod = np.array(b)

In [23]:
twod

array([[1, 2, 3, 4],
       [4, 5, 6, 7]])

In [24]:
# to convert the values in float
twod = np.array(b,dtype='float')

In [25]:
twod

array([[1., 2., 3., 4.],
       [4., 5., 6., 7.]])

In [26]:
arr2 = twod.astype('int')

In [27]:
arr2

array([[1, 2, 3, 4],
       [4, 5, 6, 7]])

In [29]:
arr2 = np.array(b,dtype='bool')

In [30]:
arr2

array([[ True,  True,  True,  True],
       [ True,  True,  True,  True]])

In [31]:
arr5 = np.array([0.5,'y'],dtype='object')

In [32]:
arr5

array([0.5, 'y'], dtype=object)

In [33]:
list = arr5.tolist()

In [34]:
list

[0.5, 'y']

### Array Dimession

In [45]:
arr5 = twod.tolist()

In [48]:
arr5
type(arr5)

list

In [51]:
# only numpy array return for shape not list
twod.shape

(2, 4)

In [52]:
# this tells us the elements stored in nparray
twod.dtype

dtype('float64')

In [53]:
# this tells us the dimension of nparray here in this case it is 2 dimension 
twod.ndim

2

Reversing rows and columns

In [54]:
# this will reverse the array in rows wise for columns wise see below cell syntax
twod[::-1]

array([[4., 5., 6., 7.],
       [1., 2., 3., 4.]])

In [55]:
twod[::-1,::-1]

array([[7., 6., 5., 4.],
       [4., 3., 2., 1.]])

In [56]:
twod

array([[1., 2., 3., 4.],
       [4., 5., 6., 7.]])

specific element extraction